@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
*{
font-family: 'Ubuntu', sans-serif;
box-sizing: border-box;
/* overflow-x: hidden; */

}

body{
    margin: -11px;
    padding: 0;    
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    background-repeat: no-repeat;
    min-height:100%;
    margin-bottom: 2%;
    overflow-x: hidden;    
}
/**************************************/

/* header */
header{
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    -webkit-text-stroke: 1px #fff; 
    font-size: 60px;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip:text;
    background-position: -1200px 0;
    animation:backcolor 6s linear infinite alternate ;
}
@keyframes backcolor{
    100%{ 
        background-position: 0 0;
    }
}

/***********************************/
.wrapper{
    margin: 2%;
}

/************************************/

   /* search bar */
   .searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 50%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 20px;
  }
  .searchbar input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 30px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  .searchbar input[type="text"]:focus {
    width: 100%;
    outline: none;
  }
  
  .searchbar button {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    outline: none;
  }
  
  .searchbar button:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  #search-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
  }
  
  #search-button:hover {
    color: #a4d7ff;
  }
  
  #reset-button{
    
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: transparent;
    margin-right: -2%;
  }
  
  #reset-button:hover {
    color: #a4d7ff;
    border-radius: 50%;
    width: 30px;
    height: 28px;
    background-color:rgba(255, 255, 255, 0.37);
  }
  
 

::placeholder{
    color:#fff;
    font-size: medium;
    font-style: italic;
   
}
/*************************************/

/* information text*/
.info-text{
  display: grid;
  place-items: center;
}

/***********************************/

/* word meaning */
.word{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(177, 173, 173, 0.507);
  margin-bottom: 4%;
  max-width: 20%;
  margin-top: 4%;
  padding: 1%;
  border-radius: 25px;
  
}
.word i{
    color: #111111;
}
.word .details{
    color: #0f0e0e;
    overflow: hidden;
    
}
#vol:hover{
    color: rgb(13, 129, 182);
    cursor: pointer;
}

/*************************************/

/* content */
.content{
    font-family: 'Ubuntu', sans-serif;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 1%;
    height: fit-content;
    min-height: 30vh;

   
}
.content .details{
    border-radius: 25px;
    max-width: 17vw;
    max-height:3rem;
    min-height: 10rem;
    height: fit-content;
    font-size: 20px;
    width: 100%;
   background: rgba(177, 173, 173, 0.507);
   
}
.details{
  overflow-x: hidden;
}
.details p{
   text-align: center;
   color: aliceblue;
   border-bottom: 1px solid aliceblue;
   padding: 5%;
   margin: 2%;
   font-weight: bold;
}
.details span{
   color: aliceblue;
   border-color: aliceblue;
   text-align: center;
   justify-content: center;
   padding: 2px 5px;

   
  
}

/* ***************** */
@media screen and (max-width: 600px) {

    body{
       background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(https://img.freepik.com/free-vector/alone-concept-illustration_114360-2393.jpg?size=626&ext=jpg&ga=GA1.2.1888575058.1677215219&semt=sph);
        background-repeat: no-repeat;
        min-height: 100%;
        padding: 1%;
        margin-bottom: 2%;
        margin: auto;
        overflow-y: scroll;
    
    }

   
    @keyframes backcolor{
        100%{ 
            background-position: 0 0;
        }
    }
  }